::-webkit-scrollbar{
   width: 0px;
}

* {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}
      
img {
   width: 100vw;
}

a {
   text-decoration: none;
   background-color: rgb(12, 107, 107);
   padding: 20px;
   display: block;
   color: white;
   font-size: bolder;
   text-align: center;
}

a:hover {
   text-decoration: underline;
   background-color: steelblue;
   transition: background-color .3s;;
}